<!doctype html>
<html lang="en" ng-app="mapApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HW8-MapApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

</head>
<body ng-controller="FormCtrl">

<form id="myForm" name="myForm" >
  <!--Search Box-->
  <div class="card col-md-8 offset-md-2 col-12" id="searchbox">
    <h4>Travel and Entertainment Search</h4>
    <div class="row">
      <div class="col-md-2 offset-md-2">Keyword<span style="color:red">*</span></div>
      <div class="col-md-6">
        <input type="text" id="keyword" class="form-control" pattern=".*\S.*" placeholder=""
               ng-required="true" ng-model="keyword">
        <div class="invalid-feedback">Please enter a keyword.</div>
      </div>

      <div class="col-md-2 offset-md-2">Category</div>
      <div class="col-md-6">
        <select class="form-control" id="category" ng-init="category='default'" ng-model="category">
          <option value="default">Default</option>
          <option value="airport">Airport</option>
          <option value="amusement_park">Amusement Park</option>
          <option value="aquarium">Aquarium</option>
          <option value="art_gallery">Art Gallery</option>
          <option value="bakery">Bakery</option>
          <option value="bar">Bar</option>
          <option value="beauty_salon">Beauty Salon</option>
          <option value="bowling_alley">Bowling Alley</option>
          <option value="bus_station">Bus Station</option>
          <option value="cafe">Cafe</option>
          <option value="campground">Campground</option>
          <option value="car_rental">Car Rental</option>
          <option value="casino">Casino</option>
          <option value="lodging">Lodging</option>
          <option value="movie_theater">Movie Theater</option>
          <option value="museum">Museum</option>
          <option value="night_club">Night Club</option>
          <option value="park">Park</option>
          <option value="parking">Parking</option>
          <option value="restaurant">Restaurant</option>
          <option value="shopping_mall">Shopping Mall</option>
          <option value="stadium">Stadium</option>
          <option value="subway_station">Subway Station</option>
          <option value="taxi_stand">Taxi Stand</option>
          <option value="train_station">Train Station</option>
          <option value="transit_station">Transit Station</option>
          <option value="travel_agency">Travel Agency</option>
          <option value="zoo">Zoo</option>
        </select>
      </div>

      <div class="col-md-2 offset-md-2" id="test">Distance (miles)</div>
      <div class="col-md-6">
        <input type="text" id="distance" class="form-control" placeholder="10" ng-model="distance">
      </div>

      <div class="col-md-2 offset-md-2">From<span style="color:red">*</span></div>
      <div class="col-md-6 form-check" ng-init="from='here'">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" ng-model="from" name="fromradio" id="from1" value="here">
          Current location
        </label>
        <br>
        <label class="form-check-label" style="width: 100%">
          <input type="radio" class="form-check-input" ng-model="from" name="fromradio" id="from2" value="other">
          Other. Please specify:
          <input type="text" id="loc" name="loc" class="form-control" placeholder="Enter a location"
                 ng-model="loc" ng-disabled="fromwhere('here')" ng-required="fromwhere('other')">
          <div class="invalid-feedback">Please enter a location.</div>
        </label>
      </div>

      <div class="col-md-6 offset-md-2">
        <button class="btn btn-primary" id="search" ng-click="submitForm()" ng-disabled="myForm.$invalid">
          <i class="fa fa-search" aria-hidden="true"></i> Search
        </button>
        <button class="btn btn-default" ng-click="clearhandler()">Clear</button>
      </div>
    </div>
  </div>

  <ul id="topnav" class="nav nav-pills" ng-init="topnavtab=1" ng-model="topnavtab">
    <li class="nav-item">
      <a id="restab" class="nav-link" ng-class="{active: topnavtab==1}" href="#" ng-click="topnavtab=1">Results</a>
    </li>
    <li class="nav-item">
      <a id="favtab" class="nav-link" ng-class="{active: topnavtab==2}" href="#" ng-click="topnavtab=2">Favorites</a>
    </li>
  </ul>

  <div class="progress" ng-init="showprogress=false" ng-model="showprogress" ng-show="showprogress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
  </div>


  <!--Content-->
  <div class="container" ng-init="showall=false" ng-model="showall" ng-show="showall">
    <!--No list-->
    <div class="alert alert-warning" ng-init="nolist=false" ng-model="nolist" ng-show="nolist">No records</div>

    <div class="alert alert-danger" ng-init="errorlist=false" ng-model="errorlist" ng-show="errorlist">
      Failed to get search results.
    </div>

    <!--Results-->
    <div id="respanel" class="container"
         ng-init="restabledata=[]" ng-model="restabledata" ng-show="topnavtab==1 && restabledata.length!=0 && !nolist">
      <!--List-->
      <div id="list" ng-animate="'animate'" ng-hide="displaydetails">
        <button class="btn btn-default float-right" id="gotodetails"
                ng-disabled="placeid===undefined" ng-click="getdetails(placeid)">
          Details <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>

        <table id="restable" class="table table-striped" ng-init="pagenum=1" ng-model="pagenum">
          <tr>
            <th style="width: 50px;">#</th>
            <th style="width: 100px;">Category</th>
            <th style="width: 500px;">Name</th>
            <th style="width: 500px;">Address</th>
            <th style="width: 100px;">Favorite</th>
            <th style="width: 100px;">Details</th>
          </tr>
          <tr ng-repeat="data in restabledata[pagenum-1]">
            <td style="width: 50px;">{{$index+1}}</td>
            <td style="width: 100px;"><img src="{{data.icon}}" height="36px" width="36px" style="margin:0;"></td>
            <td style="width: 500px;">{{data.name}}</td>
            <td style="width: 500px;">{{data.vicinity}}</td>
            <td style="width: 100px;">
              <button class="btn btn-default"><i class="fa fa-star-o" aria-hidden="true"></i></button>
            </td>
            <td style="width: 100px;">
              <button class="btn btn-default" ng-click="getdetails(data.place_id)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </table>
        <div id="pagehelper">
          <a href="#" class="pagebutton" ng-show="pagenum!=1" ng-click="prev()">Previous</a>
          <a href="#" class="pagebutton" ng-show="restabledata[pagenum-1].hasnextpage" ng-click="next()">Next</a>
        </div>
      </div>

      <!--Details-->
      <div id="details" class="container"
           ng-init="detailsdata=[]" ng-model="detailsdata" ng-animate="'animate'" ng-hide="!displaydetails">
        <button class="btn btn-default" ng-click="displaydetails=false">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> List
        </button>

        <ul style="margin-bottom: 20px;" id="detailsnav" class="nav nav-tabs justify-content-end"
            ng-init="detailsnavtab=1" ng-model="detailsnavtab">
          <li class="nav-item">
            <a id="infotab" class="nav-link" href="#"
               ng-class="{active: detailsnavtab==1}" ng-click="detailsnavtab=1">Info</a>
          </li>
          <li class="nav-item">
            <a id="photostab" class="nav-link" href="#"
               ng-class="{active: detailsnavtab==2}" ng-click="detailsnavtab=2">Photos</a>
          </li>
          <li class="nav-item">
            <a id="maptab" class="nav-link" href="#"
               ng-class="{active: detailsnavtab==3}" ng-click="detailsnavtab=3">Map</a>
          </li>
          <li class="nav-item">
            <a id="reviewstab" class="nav-link" href="#"
               ng-class="{active: detailsnavtab==4}" ng-click="detailsnavtab=4">Reviews</a>
          </li>
        </ul>

        <div id="infopanel" class="panel" ng-show="detailsnavtab==1">
          <table class="table table-striped"><tbody>
            <tr ng-if="detailsdata.formatted_address !== undefined">
              <th>Address</th>
              <td>{{detailsdata.formatted_address}}</td>
            </tr>
            <tr ng-if="detailsdata.international_phone_number !== undefined">
              <th>Phone number</th>
              <td>{{detailsdata.international_phone_number}}</td>
            </tr>
            <tr ng-if="detailsdata.price_level !== undefined">
              <th>Price Level</th>
              <td>{{detailsdata.price_level}}</td>
            </tr>
            <tr ng-if="detailsdata.rating !== undefined">
              <th>Rating</th>
              <td>{{detailsdata.rating}}&nbsp;
                <div class="ratings">
                  <div class="empty-stars"></div>
                  <div class="full-stars" style="width:{{detailsdata.rating / 5 * 100}}%"></div>
                </div>
              </td>
            </tr>
            <tr ng-if="detailsdata.url !== undefined">
              <th>Google Page</th>
              <td><a target="_blank" href="{{detailsdata.url}}">{{detailsdata.url}}</a></td>
            </tr>
            <tr ng-if="detailsdata.website !== undefined">
              <th>Website</th>
              <td><a target="_blank" href="{{detailsdata.website}}">{{detailsdata.website}}</a></td>
            </tr>
            <tr ng-if="detailsdata.opening_hours !== undefined">
              <th>Hours</th>
              <td>
                {{detailsdata.todayhrs}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Daily open hours</a>
              </td>
            </tr>
          </tbody></table>
        </div>
        <div id="photospanel" class="" ng-show="detailsnavtab==2">
          <div class="photoanchor" ng-repeat="data in photodata">
            <a target="_blank" href="{{data}}">
              <img class="img-thumbnail" src="{{data}}">
            </a>
          </div>
        </div>
        <div id="mappanel" class="panel" ng-show="detailsnavtab==3">
          <div class="row">
            <div class="col-md-4">From
              <input class="form-control" type="text" id="mapfrom"
                     ng-model="mapfrom" ng-init="mapfrom='Your location'">
            </div>
            <div class="col-md-4">To
              <input class="form-control" disabled type="text" id="mapto"
                     ng-model="mapto">
            </div>
            <div class="col-md-2">Travel Mode
              <select class="form-control" id="travelmode" ng-model="travelmode" ng-init="travelmode='DRIVING'">
                <option value="DRIVING">Driving</option>
                <option value="BICYCLING">Bicycling</option>
                <option value="TRANSIT">Transit</option>
                <option value="WALKING">Walking</option>
              </select>
            </div>
            <div class="col-md-2"><br>
              <button class="btn btn-primary" ng-click="directionsbuttonhandler()">Get Directions</button>
            </div>
          </div>

          <div id="map" style="height: 390px; margin: 20px 0;"></div>

          <div id="routeinfo"></div>
        </div>
        <div id="reviewspanel" class="panel" ng-show="detailsnavtab==4">
          reviewspanel
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Open hours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr ng-repeat="data in detailsdata.opening_hours.weekday_text">
                    <td ng-if="todayindex != $index">{{data.split(': ')[0]}}</td>
                    <td ng-if="todayindex != $index">{{data.split(': ')[1]}}</td>

                    <th ng-if="todayindex == $index">{{data.split(': ')[0]}}</th>
                    <th ng-if="todayindex == $index">{{data.split(': ')[1]}}</th>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>

    <div id="favpanel" class="panel" ng-show="topnavtab==2">
      FAVTABLE
    </div>
  </div>
</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="javascripts/page.js"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf2PYwxk-hPRw0ZQDIO0TamURG3zkYX38&v=3.exp&libraries=places"></script>

</body>
</html>