body {
  padding: 10px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  vertical-align: center;
}

a {
  color: #00B7FF;
}

#searchbox {
  background-color: #f1f1f1;
}

#searchbox h4 {
  margin: 20px 10px;
  text-align: center;
}

.col-md-2 {
  padding-top: 17px;
  padding-left: 20px;
  margin-bottom: 0;
}

.col-md-6 {
  padding: 10px 20px 15px 20px;
}

.btn:hover {
  cursor: pointer;
}

.form-check-label {
  padding-left: 20px;
}

#myForm :valid {
  border-color: #ccc;
}

#topnav {
  width: 190px;
  margin: 20px auto;
}

.progress {
  margin: 100px auto;
  width: 75%;
}

#container {
  margin: auto;
  width: 1250px;
}

#restable th {
  background-color: white;
}

#restable td {
  background-color: white;
}

#restable tr:hover td {
  background-color: #cccccc;
}
#gotodetails {
  margin: 10px 0;
}

.btn-default:disabled {
  border: 1px solid #ccc;
}

#list {
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  position: absolute;

  -webkit-transition: all linear 0.3s;
  transition:all linear 0.3s;
}

#list.ng-hide {
  opacity: 100;
  transform: translateX(-100%);
}

#details {
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;

  position: absolute;
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

#details.ng-hide {
  transform: translateX(100%);
  opacity: 100;
}

#pagehelper {
  margin: 20px auto;
  width: 300px;
  text-align: center;
}

.pagebutton {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 5px;
  color: black;
  border: 2px solid #aaa;
  width: 100px;
  margin: auto 20px;
}

.pagebutton:hover {
  color: black;
  text-decoration: none;
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: white;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffa10d;
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

#photospanel {
  column-count: 4;
  column-gap: 2px;
}

.photoanchor {
  padding: 3px;
}



@media only screen and (max-width: 768px) {
  #photospanel {
    column-count: 1;
  }
}
